/*Variables*/ /*Maps*/ /*Mixin*/ /*Font*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,400&display=swap");
/*Generales*/
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  display: grid;
  /*display: grid;*/
  position: relative;
}

.menu-icon {
  display: none;
  /*display: none;*/
  color: white;
}

/*header*/
.header {
  background-color: rgb(86, 7, 12);
  padding: 2rem 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 1;
}
.header a {
  color: white;
  text-decoration: none;
}
.header .logo-nav-container {
  display: flex;
  /*display: flex;*/
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header .logo {
  letter-spacing: 15px;
  font-size: 1.2em;
}
.header .navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header .navigation ul li {
  display: inline-block;
  /*display: inline-block;*/
}
.header .navigation ul li a {
  display: block;
  /*display: block;*/
  padding: 0.5rem 1rem;
  /*font-family: $fuente;*/
}

/*Main*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  content: "";
}

main {
  height: 100%;
  width: 100%;
  /*width: $full-width;*/
  background-image: url(../img/fondo8comprimido.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-texto {
  margin-top: 30px 0;
}

h1 {
  color: white;
  text-align: center;
  margin: 30px 20px;
  /*font-family: $fuentes;*/
}

h2 {
  color: white;
  text-align: center;
  margin-top: 50px;
  /*font-family: $fuentes;*/
  margin-bottom: 50px;
}

h3 {
  color: white;
  text-align: center;
  margin-top: 50px;
  /*font-family: $fuentes;*/
  margin-bottom: 20px;
}

.catalogo-texto {
  padding: 60px 0;
  font-size: 20px;
}

.informacion {
  padding-top: 30px;
}

.container {
  width: 100%;
  /*width: $full-width;*/
  display: flex;
  /*display: flex;*/
  justify-content: center;
  flex-wrap: wrap;
  /*font-family: funete;*/
}
.container .caja:hover {
  transform: scale(1.1);
  transform: skewY(10deg);
  cursor: pointer;
}
.container .caja {
  margin: 15px;
}
.container .caja p {
  color: white;
  text-align: center;
  font-size: 20px;
}
.container .caja a {
  color: white;
}
.container .caja img {
  width: 220px;
  height: 260px;
  border-radius: 30px;
}

.main-index {
  display: flex;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}
.main-index section {
  z-index: 0;
}
.main-index section div {
  display: flex;
  /*display: flex;*/
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.main-index section div .texto {
  width: 40%;
  color: rgb(255, 255, 255);
  text-align: center;
  display: block;
  /*display: block;*/
  font-size: 22px;
  /*font-family: 'Playfair Display', serif;*/
}
.main-index section div #foto {
  width: 40%;
}
.main-index section div #foto img {
  width: 40%;
}

.todotextoinformativo {
  width: 100%;
  /*width: $full-width;*/
  height: 100%;
  margin: 0 auto;
  padding: 0px;
  color: white;
  display: block;
  /*display: grid;*/
  grid-template-columns: 1fr;
  text-align: center;
  /*font-family: $fuente;*/
}
.todotextoinformativo .textoinformativo {
  padding-top: 0px;
  font-size: 18px;
}
.todotextoinformativo .imagen {
  height: 514px;
  width: 800px;
  border-radius: 15px;
}

.carousel-inner {
  width: 800px;
  height: 600px;
}

/*Contacto*/
.formulario {
  width: 90%;
  max-width: 400px;
  padding: 30px;
  background-color: rgb(86, 7, 12);
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 4px;
  color: white;
  box-shadow: 7px 13px 37px #696969;
  position: relative;
  /*font-family: $fuente;*/
}
.formulario .contacto {
  width: 100%;
  /*width: $full-width;*/
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid;
  color: black;
}
.formulario section h2 {
  color: white;
  margin-top: 0;
}
.formulario .mensaje {
  height: 90px;
}
.formulario .boton {
  width: 100%;
  /*width: $full-width;*/
  background-color: rgb(0, 0, 0);
  border: none;
  padding: 12px;
  color: white;
  margin: 16 px 0;
  font-size: 16px;
  text-decoration: none;
}

/*Footer*/
footer {
  background-color: rgb(86, 7, 12);
  height: 45px;
  color: white;
  text-align: center;
  /*font-family: $fuente;*/
}

/*Queries*/
@media (max-width: 576px) {
  .menu-icon {
    display: block;
    /*display: block;*/
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
  .navigation {
    width: 100%;
    /*width: $full-width;*/
    margin-top: 1rem;
  }
  .navigation ul {
    display: none;
    /*display: none;*/
  }
  .navigation ul.show {
    display: block;
    /*display: block;*/
  }
  .navigation ul li {
    display: block;
    /*display: block;*/
  }
  .navigation ul li a {
    display: block;
    /*display: block;*/
    padding: 0.5rem 0;
  }
  .navigation ul li a:hover {
    background-color: black;
  }
  main {
    height: 100%;
    width: 100%;
    /*width: $full-width;*/
    flex-wrap: wrap;
  }
  .todotextoinformativo {
    width: 100%;
    /*width: $full-width;*/
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    color: white;
    display: grid;
    /*display: grid;*/
    grid-template-columns: 1fr;
    text-align: center;
  }
  .todotextoinformativo .imagen {
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }
}
.main-index {
  padding: 120px 20px 50px;
}
.main-index section div {
  flex-direction: column;
}
.main-index section div .texto {
  width: 90%;
}
.main-index section div #foto {
  width: 90%;
}

.main-texto {
  padding: 30px 20px 50px;
}

.carousel-inner {
  width: 100%;
  height: 100%;
}

/*Condicionales*/
.formulario {
  font-family: "Playfair Display", serif;
}

a {
  font-family: "Playfair Display", serif;
}

.todotextoinformativo {
  font-family: "Playfair Display", serif;
}

h2 {
  font-family: "Playfair Display", serif;
}

.texto {
  font-family: "Playfair Display", serif;
}

.container {
  font-family: "Playfair Display", serif;
}

footer {
  font-family: "Playfair Display", serif;
}

.menu-icon {
  font-family: "Playfair Display", serif;
}

/*@keyframes animacion{
    0%{
        width: 500px;
    }
    50%{
        width: 505%;
    }
    100%{
        width: 500px;
    }
}

#foto{
    animation-name: animacion;
    animation-iteration-count: 1;
    animation-duration: 10s;
    animation-timing-function: linear;
}*/

/*# sourceMappingURL=estilos.css.map */
