/*Main*/
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    content: '';
}
main{
    height: 100%;
    @include ancho(100%);
    /*width: $full-width;*/
    background-image: url(../img/fondo8comprimido.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: $centrar;
    }
    .main-texto{
        margin-top: 30px 0;
    }
    h1{
        color: map-get($colores, texto);
        text-align: $centrar;
        margin: 30px 20px;
        /*font-family: $fuentes;*/
    }
    h2{
        color: map-get($colores, texto);
        text-align: $centrar;
        margin-top: 50px;
        /*font-family: $fuentes;*/
        margin-bottom: 50px;
    }
    h3{
        color: map-get($colores, texto);
        text-align: $centrar;
        margin-top: 50px;
        /*font-family: $fuentes;*/
        margin-bottom: 20px;
    }
    .catalogo-texto{
        padding: 60px 0;
        font-size: 20px;
    }
    .informacion{
        padding-top: 30px;
    }
    .container{
        @include ancho(100%);
        /*width: $full-width;*/
        @include display(flex);
        /*display: flex;*/
        justify-content: $centrar;
        flex-wrap: wrap;
        /*font-family: funete;*/
        .caja:hover{
            transform: scale(1.1);
            transform: skewY(10deg);
            cursor: pointer;
        }
        .caja{
            margin: 15px;
            p{
                color: map-get($colores, texto);
                text-align: $centrar;
                font-size: 20px;
            }
            a{
                color: map-get($colores, texto);
            }
            img{
                width: 220px;
                height: 260px;
                border-radius: 30px;
            }
        }
    }
.main-index{
    @include display(flex);
    /*display: flex;*/
    justify-content: $centrar;
    align-items: $centrar;
    section{
        z-index: 0;
        div{
            @include display(flex);
            /*display: flex;*/
            text-align: $centrar;
            justify-content: $centrar;
            align-items: $centrar;
            font-size: 25px;
            .texto{
                width: 40%;
                color: $textos-blancos;
                text-align: $centrar;
                @include display(block);
                /*display: block;*/
                font-size: 22px;
                /*font-family: 'Playfair Display', serif;*/
            }
            #foto{
                width: 40%;
                img{
                    width: 40%;
                }
            }
        }
    }
}
.todotextoinformativo{
    @include ancho(100%);
    /*width: $full-width;*/
    height: $full-height;
    margin: 0 auto;
    padding: 0px;
    color: map-get($colores, texto);
    @include display(block);
    /*display: grid;*/
    grid-template-columns: 1fr;
    text-align: $centrar;
    /*font-family: $fuente;*/
    .textoinformativo{
        padding-top: 0px;
        font-size: 18px;
    }
    .imagen{
        height: 514px;
        width: 800px;
        border-radius: 15px;
}
}
.carousel-inner{
    width: 800px;
    height: 600px;
}